.event {
    color: #838383;
    font-size: small;
}

.eventDescription {
    color: rgba(255, 255, 255, 0.91);
}

.message {
    color: steelblue;
    font-size: large;
}

.formColor {
    background-color: #333333;
}